<form action="#">
    {{!-- {{input enter=(action joinNewArena) class="mdl-textfield__input" type="text" id="sample3"}} --}}
  
  {{paper-input class="paper-input-container" label="Enter your Arena URL" value=name onChange=(action (mut name))}}

  {{input enter=(action joinNewArena) value="Join arena" type="submit" id="input-join-arena"}}
</form>



{{yield (action joinNewArena)}}
