<form action="#">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {{input enter=(action joinNewArena) class="mdl-textfield__input" type="text" id="sample3"}}
    <label class="mdl-textfield__label" for="sample3">Enter your Arena URL</label>
  </div>
</form>    
{{yield (action joinNewArena)}}
