<header class="header mdl-js-ripple-effect">
  <h1 class="header__title">{{title}}</h1>
  <button id="butAdd" class="headerButton" aria-label="Add">
      <span class="mdl-ripple"></span>
  </button>
  <button id="butProfile" class="headerButton" aria-label="Profile" onclick="window.location.href='/profile.html'">
    <span class="mdl-ripple"></span>
  </button>
</header>
{{yield}}