{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h2>{{title}}</h2>
    <span class="flex"></span>
    {{overflow-profile user=user class="image-profile"}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{yield}}