{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#if showBackButton}}
      {{!-- Do something --}}
    {{/if}}
    <h2>{{title}}</h2>
    <span class="flex"></span>
    {{#if showEditButotn}}
      {{!-- Do something --}}
    {{/if}}
    {{#if showSwapButton}}
      {{!-- Do something --}}
    {{/if}}
    {{#if showMyProfileButton}}
      {{overflow-profile user=user class="image-profile"}}
    {{/if}}
    {{#if showOtherProfileButton}}
      {{!-- Do something --}}
    {{/if}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{yield}}