<div>Join a new area:</div>
{{arena-input joinNewArena=(action 'joinNewArena')}}
<div>Previously joined arenas</div>
{{#arena-list selectExistingArena=(action 'selectExistingArena') as |selectExistingArena|}}
  {{#each model as |arena|}}
    {{arena-list-item arena=arena selectExistingArena=selectExistingArena}}
  {{/each}}
{{/arena-list}}