<div class="container_arenas">

  <div class="arena-form-container">
    <div class="form-title text-center">Join a new arena</div>
    {{arena-input joinNewArena=(action 'joinNewArena')}}
  </div>

  <div class="arenas-joined-container">
    <div class="form-title text-center">Or Join existing arena</div>
    {{#paper-list}}
      {{#arena-list selectExistingArena=(action 'selectExistingArena') as |selectExistingArena|}}
        {{#each model as |arena|}}
          {{arena-list-item arena=arena selectExistingArena=selectExistingArena}}
        {{/each}}
      {{/arena-list}}
    {{/paper-list}}
    <div class="form-title">{{paper-divider}}</div>
    <div class="text-justify"> {{paper-icon "info"}} Find people playing in the same klask arena by entering your arena id. <
      br>If you’ve joined an arena before, tap on the arena.</div>
  </div>

</div>