{{klask-header title="Profile" users=model.users showBackButton=true showEditButton=true showSwapButton=true showSignOutButton=true}}
<main class="main">
    {{user-profile user=model.user allusers=model.users allgames=model.games}}
</main>