{{header/klask-header title="Profile" users=model.users showBackButton=true showEditButton=model.isCurrentUser showSwapButton=model.isCurrentUser showSignOutButton=model.isCurrentUser}}
<main class="main">
    {{profile/user-profile user=model.user allusers=model.users allgames=model.games}}
</main>