{{header/klask-header title="Standings" users=model.users showMyProfileButton=true}}

<main class="main standings">
  {{#paper-list class="standings-list"}}
    {{standings/standings-list allusers=model.users allgames=model.games}}
  {{/paper-list}}
  
</main>