{{klask-header title="Standings" users=model.users}}

<main class="main standings">
  {{#paper-list class="standings-list"}}
    {{ standings-list allusers=model.users allgames=model.games }}
  {{/paper-list}}
  
  {{floating-action-button}}
  
</main>