{{klask-header title="Standings" users=model.users showMyProfileButton=true showBackButton=true}}

<main class="main standings">
  {{#paper-list class="standings-list"}}
    {{ standings-list allusers=model.users allgames=model.games }}
  {{/paper-list}}
  
</main>